$body-background-color: #be93c5;
$body-font-color: rgb(255, 255, 255);
$active-background-color: #1ec6e0;
$dropdown-menu-background-color:#9ddce6;
$dropdown-item-color: rgb(102, 102, 102);
$content-border-color: #bd7fc7;
$box-shadow:#541488;
$article-title:rgba(80, 78, 78, 0.582);
$footer-background:#0a141d;
