$bg-color: #be93c5;
$body-font: rgb(255, 255, 255);
$active-bg: #1ec6e0;
$dropdown-menu-bg:#9ddce6;
$dropdown-item: rgb(102, 102, 102);
$content-border: #bd7fc7;
$box-shadow:#541488;
$article-title:rgba(80, 78, 78, 0.582);
$footer-bg:#0a141d;
